.u-section-1 .u-sheet-1 {
  min-height: 828px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-text-1 {
  margin: 24px 893px 0 35px;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 350px;
  margin: 52px 0 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: -350px 649px 0 35px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 52px auto 134px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -43px;
    margin-right: 728px;
  }

  .u-section-1 .u-video-1 {
    width: 470px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -103px;
    margin-right: 128px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 828px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-text-1 {
  margin: 24px 893px 0 35px;
}

.u-section-2 .u-video-1 {
  width: 570px;
  height: 350px;
  margin: 52px 0 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  margin: -337px 649px 0 35px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 59px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -43px;
    margin-right: 728px;
  }

  .u-section-2 .u-video-1 {
    width: 470px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 508px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -103px;
    margin-right: 128px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 828px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-3 .u-text-1 {
  margin: 24px 531px 0 52px;
}

.u-section-3 .u-video-1 {
  width: 570px;
  height: 350px;
  margin: 52px 0 0 auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-2 {
  margin: -300px 632px 0 52px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 174px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -43px;
    margin-right: 383px;
    margin-left: 35px;
  }

  .u-section-3 .u-video-1 {
    width: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 776px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-4 .u-text-1 {
  margin: 24px 384px 0 50px;
}

.u-section-4 .u-text-2 {
  margin: 102px 634px 0 50px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 350px;
  margin: -325px 0 0 auto;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 72px auto -216px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -43px;
    margin-right: 234px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 264px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    height: 297px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 187px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 235px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 776px;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-5 .u-text-1 {
  margin: 24px 384px 0 50px;
}

.u-section-5 .u-text-2 {
  margin: 140px 634px 0 50px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 320px;
  margin: -260px 0 0 auto;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 75px auto -330px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -43px;
    margin-right: 234px;
    margin-left: 35px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: 428px;
    margin-top: -378px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 405px;
    margin-top: -260px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 184px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-6 .u-text-1 {
  margin: 24px 399px 0 35px;
}

.u-section-6 .u-text-2 {
  margin: 111px 660px 0 24px;
}

.u-section-6 .u-video-1 {
  width: 456px;
  height: 257px;
  margin: -660px auto 0 634px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-video-2 {
  width: 456px;
  height: 257px;
  margin: 0 auto 0 634px;
}

.u-section-6 .embed-responsive-2 {
  position: absolute;
}

.u-section-6 .u-image-1 {
  width: 456px;
  height: 285px;
  margin: 0 auto 0 634px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 50px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -43px;
    margin-right: 234px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-6 .u-video-1 {
    margin-top: -350px;
    margin-left: 484px;
  }

  .u-section-6 .u-video-2 {
    margin-top: 3px;
    margin-left: 484px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -129px;
    margin-left: 484px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 264px;
  }

  .u-section-6 .u-video-1 {
    margin-left: 264px;
  }

  .u-section-6 .u-video-2 {
    margin-left: 264px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-6 .u-video-1 {
    margin-top: -296px;
    margin-left: 84px;
  }

  .u-section-6 .u-video-2 {
    margin-left: 84px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-video-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-video-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -39px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 651px;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-7 .u-text-1 {
  margin: 24px 809px 0 35px;
}

.u-section-7 .u-video-1 {
  width: 570px;
  height: 350px;
  margin: 52px 0 0 auto;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-text-2 {
  margin: -337px 649px -117px 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: -43px;
    margin-right: 644px;
  }

  .u-section-7 .u-video-1 {
    width: 470px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 424px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 244px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -103px;
    margin-right: 44px;
  }

  .u-section-7 .u-video-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 917px;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-8 .u-text-1 {
  margin: 24px 384px 0 50px;
}

.u-section-8 .u-text-2 {
  margin: 171px 634px 0 50px;
}

.u-section-8 .u-image-1 {
  width: 388px;
  height: 188px;
  margin: -414px auto 0 640px;
}

.u-section-8 .u-image-2 {
  width: 388px;
  height: 187px;
  margin: 7px auto 0 640px;
}

.u-section-8 .u-image-3 {
  width: 388px;
  height: 187px;
  margin: 7px auto 0 640px;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 65px auto -188px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: -43px;
    margin-right: 234px;
    margin-left: 35px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 570px;
    height: 276px;
    margin-top: -350px;
    margin-left: 552px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 552px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -187px;
    margin-left: 552px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 264px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -341px;
    margin-left: 332px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -285px;
    margin-left: 332px;
  }

  .u-section-8 .u-image-3 {
    margin-left: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 262px;
    margin-top: -321px;
    margin-left: 152px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -262px;
    margin-left: 152px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -209px;
    margin-left: 152px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 165px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 164px;
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 164px;
    margin-top: -113px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 260px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 693px;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  margin: 18px auto 0 35px;
  padding: 0;
}

.u-section-9 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-9 .u-text-1 {
  margin: 24px 384px 0 50px;
}

.u-section-9 .u-text-2 {
  margin: 102px 634px 0 50px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 294px;
  margin: -284px 0 0 auto;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 87px auto -221px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: -43px;
    margin-right: 234px;
    margin-left: 35px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 242px;
    margin-top: -292px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 264px;
  }

  .u-section-9 .u-image-1 {
    width: 360px;
    height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-9 .u-image-1 {
    width: 270px;
    height: 139px;
    margin-top: -284px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 130px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -103px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 170px;
    height: 88px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 212px;
  }
}